@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.App {
  --vertical-nav-width: 232px;
  --now-playing-bar-height: 11vh;
  width: 100vw;
  height: 100vh;
  background-color: darkgray;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-areas: "nav-bar main-view" "now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  scrollbar-width: none;
  font-size: 16px;
}
.App__top-bar {
  grid-area: main-view;
  height: 60px;
  z-index: 2;
}
.App__nav-bar {
  grid-area: nav-bar;
  width: var(--vertical-nav-width);
  height: 100%;
  min-height: 100%;
  background-color: #000;
  padding-top: 24px;
  padding-bottom: var(--now-playing-bar-height);
}
.App__logo img{
  width: 155px;
  padding-left: 20px;
}
.App__categories-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}
.App__category-item {
  padding: 5px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}
.App__category-item .icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  margin-right: 10px;
}
.App__category-item .icon img {
  width: 24px;
  height: 24px;
}
.App__playlists-nav {
  color: #c4c4c4;
  padding: 18px 12px;
}
.App__now-playing-bar {
  grid-area: now-playing-bar;
  background-color: #181818;
  border-top: 1px solid #202020;
  height: var(--now-playing-bar-height);
  z-index: 4;
}
.App__main-view {
  grid-area: main-view;
  background-color: #121212;
  position: relative;
  z-index: 1;
  max-height: calc(100vh - var(--now-playing-bar-height));
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.App__header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
}
.App__song-navigation {
  display: flex;
  flex-direction: row;
}
.App__user {
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  padding: 1px;
  background-color: #000;
}
.App__section {
  padding: 16px 32px;
  color: #fff;
}
.App__quick-links-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 24px;
  margin-top: 16px;
}
.App__quick-link {
  background-color: #30294b;
  height: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}
.App__quick-link-featured-img {
  height: 100px;
  width: 100px;
  border-radius: 4px 0 0 4px;
  background-color: #efefef;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  margin-right: 16px;
  background-image: linear-gradient(to bottom right, blue, white);
}

.App__section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App__section-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 24px;
  margin-top: 16px;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  /* set height to 0 for autogenerated grid rows */
  overflow-y: hidden;
  /* hide grid items that overflow */
}

.App__section-grid-item .featured-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, blue, white);
  background-size: cover;
  margin-bottom: 16px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}
.App__section-grid-item:nth-of-type(1) .featured-image {
  background-image: url("./assets/image9.png");
}
.App__section-grid-item:nth-of-type(2) .featured-image {
  background-image: url("./assets/image8.png");
}
.App__section-grid-item:nth-of-type(3) .featured-image {
  background-image: url("./assets/image7.png");
}
.App__section-grid-item:nth-of-type(4) .featured-image {
  background-image: url("./assets/image6.png");
}
.App__section-grid-item:nth-of-type(5) .featured-image {
  background-image: url("./assets/image5.png");
}
.App__section-grid-item:nth-of-type(6) .featured-image {
  background-image: url("./assets/image10.png");
}
.function{
  display: flex;
  justify-content: center;
  width: auto;
  background-color: rgb(27, 27, 27);
}
.function .music{
  width: 20vw;
  height: 11vh;
  display: flex;
  align-items: center;
  margin-left: 0.5vh;
  background-color: transparent;
}
.function .music img{
  width:10vh;
  height: 10vh;
  border: 0px solid;
  border-radius: 2vh;
}
.function .music .details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-left: 2vh;
  padding-bottom: 1vh;
  background-color: transparent;
}
.function .music .love img{
  color: green;
  background-color: transparent;
  padding: 0px;
  margin-left: 2vh;
  margin-right: 2vh;
  width: 4vh;
  height: 4vh;
}
.function .playback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  width: 60vw;
  height: 4vh;
  background-color: transparent;
}
.function .playback img{
  width: 35vw;
  padding-top: 25px;

}
.function .control{
  width: 20vw;
  height: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.function .control img{
  width: 20vw;
  padding-right: 30px;
} 


@media screen and (max-width: 768px) {
  .App {
    grid-template-areas: "nav-bar nav-bar" "main-view main-view" "now-playing-bar now-playing-bar";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
  }
  .App__nav-bar {
    display: flex; /* Make the nav-bar flex container */
    
    width: 100%;
    height: auto;
    min-height: auto;
    padding-bottom: 0;
  }
  .App__main-view {
    max-height: none;
  }
  .function .music {
    width: 100%;
  }
  .function .playback {
    width: 100%;
  }
  .function .control {
    width: 100%;
  }
}




@media screen and (max-width: 768px) {
  .App__song-navigation {
    display: none;
  }
  .App__playlists-nav{
   
  }

  #one{
    display:none;
  }

  .control{
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
 .App__logo_m {
    display: none;
  }

  #second{
    display:none;
  }
}


@media screen and (max-width: 768px) {
  .App__user {
    position: sticky !important; /* Make the button sticky */
    top: 0 !important; /* Attach it at the top of the viewport */
    right: 0 !important; /* Align it to the right */
    z-index: 999 !important; /* Ensure it's above other content */
  }
}

.App__section-grid-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.App__section-grid-item {
  width: calc(33.33% - 20px); /* Adjust the width to fit three items in a row with spacing */
  margin-bottom: 20px; /* Add bottom margin for spacing between items */
  text-align: center; /* Center-align text */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .App__section-grid-item {
    width: calc(50% - 20px); /* Adjust the width to fit two items in a row with spacing */
  }
}

@media screen and (max-width: 768px) {
  .App__nav-bar {
    display: flex;
  justify-content: space-between; /* Align items to the start and end of the container */
  align-items: center; 
  }

  #second {
    margin-left: auto; /* Move the button to the right by pushing it to the end of the flex container */
  }
}







#third {
  display: none;
}

/* Apply styles when the screen width is 768 pixels or less */
@media screen and (max-width: 768px) {
  /* Show the .App__categories-nav container */
  #third{
    display: flex;
    flex-wrap: nowrap; /* Allow items to wrap onto the next line */
    justify-content: space-between;
    background-color: black;
  }

  /* Adjust individual items within .App__categories-nav */
  .App__category-item {
    margin-right: 20px; /* Add right margin between items */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }
}
